@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.btn-small{
    width: 120px;
    height: 40px;
    background-color: #D9D9D9;
    color: #000000;
    border-radius: 10px;
    border: none;
    font-family: 'Inter', sans-serif;
}

.btn-small:hover{
    background-color: #a8a8a8;
    cursor: pointer;
}