@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
.table-products {
  width: 95%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #dcf4e5; 
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  table-layout: fixed;
}

.table-products th,
.table-products td {
  padding: 14px 10px;
  vertical-align: middle;
}

.table-products th:nth-child(1),
.table-products td:nth-child(1) {
  width: 85%;
  text-align: left;
}

.table-products th:nth-child(2),
.table-products td:nth-child(2) {
  width: 15%;
  text-align: center;
  padding: 14px 10px;
}

.table-products th {
  background-color: #cce3cc;
  font-weight: 700;
  color: #000;
}

.table-products tr:not(:last-child) {
  border-bottom: 1px solid #cce3cc;
}

.table-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.table-actions i {
  cursor: pointer;
  font-size: 16px;
  color: #222;
}

.table-actions i:hover {
  color: #ec2d2d;
}