@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.user-profile {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: rgb(37, 58, 241);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.profile-head {
    width: 60%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-head-box1 {
    width: 35%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: -70%;
    margin-top: 60px;
    margin-bottom: -70px;
}

.profile-head-h1 {
    font-size: 32px;
    font-weight: 600;
    color: white;
    margin: 0px 0px 0px 0px;
}

.profile-head-text {
    color: white;
    text-align: center;
}

/*Cuerpo*/

.profile-body {
    width: 80%;
    height: auto;
    display: flex;
}

.profile-body-box1 {
    width: 30%;
    height: auto;
    display: flex;
    padding: 25px;
    flex-direction: column;
    background-color: white;
    border: 3px solid rgb(37, 58, 241);
    border-radius: 10px;
}

.profile-body-box1 p {
    line-height: 25px;
    margin-top: 5px;
    margin-bottom: -5px;
}

.profile-body-box2 {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: white;
    border: 3px solid rgb(37, 58, 241);
    border-radius: 10px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(37, 58, 241);
    margin: 0;
}

.profile-body-box2-info-container {
    display: flex;
    width: 100%;
    margin-top: 5px;
    gap: 15px;
}

.profile-body-box2-info {
    width: 50%;
}

.profile-body-box2-input {
    width: 100%;
    height: 35px;
    margin-top: -5px;
    margin-bottom: 10px;
    padding: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: rgb(41, 41, 41);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
}

/*Final*/

.profile-footer {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-direction: flex-start;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-top: 15px;
    margin-bottom: 15px;
}

.profile-footer-buttons {
    width: 100%;
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.profile-footer-btns {
    width: 25%;
    border-radius: 10px;
    border: 0px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.profile-footer-btns-red {
    width: 25%;
    border-radius: 10px;
    border: 0px;
    height: 70px;
    color: red;
}

.profile-footer-btns:hover {
    cursor: pointer;
    background-color: rgb(209, 209, 209);
    color: rgb(0, 0, 0);
}

.profile-footer-btns-red:hover {
    cursor: pointer;
    background-color: rgb(209, 209, 209);
    color: red;
}