.text-container {
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  max-width: 400px;
  margin: 20px;
  font-size: 15px;
  line-height: 1.5;
}

.text-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  color: white;
}
